#scTop {
  position: fixed;
  top: 89.5%;
  left: 94%;
  z-index: 20;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 5px #1adb80;
  animation-name: Sctop;
  animation-timing-function: ease-in-out;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes Sctop {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
